<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="./css/materialize.min.css" rel="stylesheet">
    <link href="./css/materialize.css" rel="stylesheet">
    <link rel="stylesheet" href="./fonts/material-icons.css">
</head>

<body>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <!-- forgot password details -->
            <div class="col s12 m6 l12 z-depth-4 card-panel">
                <h5 class="center-align">Forgot Password</h5>
                <form method="POST" action="/forgotPasswordController">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-2">mail_outline</i>
                            <input id="email" name="email" type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light blue col s12 green" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s4"></div>
    </div>

    <script src="./js/jquery-3.0.0.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="./js/forgotPassword.js"></script>
</body>

</html>